.holder {
  display: flex;
}

.block {
  padding: 5px;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.block p {
  margin-bottom: 10px;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.ibmPlex {
  font-family: "IBM Plex Sans", sans-serif;
}

.system-ui {
  font-family: system-ui, sans-serif;
}

.SegoeUI {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.Roboto {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.px14 {
  font-size: 14px;
}

.px20 {
  font-size: 20px;
}