.holder {
  display: flex;
}

* {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.block {
  padding: 5px;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.block p {
  margin-bottom: 10px;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.ibmPlex {
  font-family: "IBM Plex Sans", sans-serif;
}

.system-ui {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.SegoeUI {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.Roboto {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
