.holder {
  display: flex;
}

* {
  line-height: 1em;
}

.block {
  padding: 5px;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.block p {
  margin-bottom: 10px;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.ibmPlex {
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

.system-ui {
  font-family: system-ui, sans-serif;
}

.arial {
  font-family: Arial, sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.times {
  font-family: 'Times New Roman', sans-serif;
}

.courier {
  font-family: 'Courier New', sans-serif;
}

.georgia {
  font-family: Georgia, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}

.trebuchet {
  font-family: 'Trebuchet MS', sans-serif;
}


.SegoeUI {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.Roboto {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.px14 {
  font-size: 14px;
}

.px20 {
  font-size: 20px;
}
